.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
}

.elementos{
    margin-right: 50px;
}

.container-fluid{
    margin-left: 50px;
}

body {
    
    background-color: #8cc8fb;
    background-image: linear-gradient(90deg, #8cc8fb 0%, #a2afe4 100%);
    background-size: cover;
    background-repeat: no-repeat;
}