<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="icon" href="/img/Egg.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/final.css">
    <link rel="stylesheet" href="/css/formulariodos.css">
</head>

<body>


    <nav th:replace="/fragments/navbar2 :: nav"> </nav>

    <div class="container">

        <div class="formulario">
            <form th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                <p class="singup">Registrate</p>
                <br>
                <div class="inputBox1">
                    <input type="text" required="required" name="nombre">
                    <span class="user" th:value="${nombre}">Nombre</span>
                </div>
                <br>
                <div class="inputBox1">
                    <input type="email" required="required" name="email">
                    <span class="user" th:value="${email}">E-Mail</span>
                </div>
                
                <br>
                <div class="inputBox1">
                    <input type="password" required="required" name="password">
                    <span class="user" th:value="${password}">Contraseña</span>
                </div>
                <br>
                <div class="inputBox1">
                    <input type="password" required="required" name="password">
                    <span class="user" th:value="${password2}">Repetir Contraseña</span>
                </div>
                <br>

                <div class="expandible">
                    <input  type="file" class="form-control" name="archivo">
                </div>
                <br>
                <button type="submit" class="enter">Registrarme</button>
            </form>
        </div>
        
    </div>

    

   

        </form>
    </div>


    

</body>

</html>